@import "theme-variables";

$link-decoration:none;
$primary:#013d55;
$secondary:#b9912b;
$bg-color:#f1eee8;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "components/header";
@import "components/footer";
@import "components/hero";
@import "components/contact-info";
@import "components/bg-image-text-slider";
@import "components/services";
@import "components/testimonial";
@import "components/contact";
@import "components/image-slider";
@import "components/hero-single";
@import "components/content-cards";
@import "components/content-box";
@import "components/banner";
@import "components/to-the-top-button";
@import "components/floating-socials";
@import "components/headline-image-text";
@import "components/content-left-text-box-right";
@import "components/akkordeon";
:root{
    --bs-body-font-family: 'Montserrat', sans-serif;
    --bs-heading-color: #3C3B4D;
    --bs-body-color: #5F5F5F;
    --bs-body-font-weight: 300;
}
.underline-light::before{
    background-color:#fff;
}
.text-tertiary{
    color:#083649;
}
b{
    font-weight: bold;
}
.bg-tertiary{
    background-color:#083649;
}
h1{
    font-weight: 400;
}
h2{
    font-size:36px;
    font-weight: 300;
}
h3{
    font-size:22px;
    font-weight: 400;
}
h4{
    font-size: 22px;
    font-weight: 400;
}
h5{
    font-size:14px;
    font-weight: 400;
}
h6{
    font-size: 10px;
}
.headline{
    font-size:32px;
    font-weight: 300;
}
.subline{
    font-size:16px;
    font-weight: 400;
}
.topline{
    font-size:16px;
    font-weight: 400;
}
a{
    font-weight: 300;
    
}
.breadcrumb{
    font-weight: 300;
    font-size:13px;
}
a:hover{
    color:$secondary!important;
}
.btn{
    border-radius:0px;
    text-transform: uppercase;
    padding-top:12px;
    padding-bottom:12px;
    background: linear-gradient(#ffffff00, #ffffff00 50%, $secondary 50%, $secondary);
    background-position: 0% 200%;
    background-size: 100% 200%;
    transition: all 0.5s;
}
.btn:hover{
    background-color:inherit;
    color:white;
    background-position: 100% 100%;
}
.btn-link{
    border:0;
    background-position: 0% 0%!important;
    text-transform: none;
    transition: letter-spacing 1s;
    letter-spacing: 1px;
    font-weight: 500;
}
.btn-link:hover{
    transition: letter-spacing 1s;
    color:$primary;
    letter-spacing: 0.2rem;
}
.bg-color{
    background-color:$bg-color;
}
p a {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}  
p a::before {
    content: "";
    position: absolute;
    bottom: 0px; /* adjust this value to set the position of the underline */
    left: 0;
    width: 100%;
    height: 1px; /* adjust this value to set the thickness of the underline */
    background-color: black;
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

p a:hover::before {
    transform: scaleX(0);
}
.tagline{
    border-top:20px solid $secondary;
    margin-top:-60px;
    margin-bottom:40px;
}
.subline::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: $secondary;
    margin-right: 10px;
    vertical-align: middle;
}
.topline::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: $secondary;
    margin-right: 10px;
    vertical-align: middle;
}
.topline::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: $secondary;
    margin-left: 10px;
    vertical-align: middle;
}

li:not(.no-before)::before, .li-before-element a::before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $secondary; /* replace with your secondary color variable */
    margin-right: 8px;
}
.li-before-element a:hover{
    color:$secondary!important;
}
li:hover::before, .li-before-element a:hover::before {
    background-color:transparent;
}
  
ul {
    list-style-type: none!important;
    padding-left:0px;
}

.overlap{
    background-image: linear-gradient(to left, #fff 50%, rgba(192, 192, 192, 0) 50%);
}
.overlap-left{
    background-image: linear-gradient(to right, #fff 50%, rgba(192, 192, 192, 0) 50%);
}
.alert-secondary{
    border:1px solid $secondary;
    border-radius: 0;
    background-color:white;
    color:$secondary;
}
.breadcrumb{
    color:#9CA8B0;
}
.breadcrumb a{
    color:#9CA8B0;
}
.parallax-mobile{
    display:none;
}

@include media-breakpoint-up(lg){
    .w-lg-75{
        width: 75%!important;
    }
}
@include media-breakpoint-down(lg){
    .mobile-hide{
        display:none;
    }
    .overlap{
        background-color:white;
    }
    .desktop-image{
        display:none;
    }
    .parallax-mobile{
        display:block;
    }
    .row{
        padding-left:10px;
        padding-right:10px;
    }
}
