.custom-logo{
    width: 100%;
    height: auto;
}
.offcanvas-header .offcanvas-logo{
    width: 60%;
}
.top-bar > div > ul > li{
    display:inline-block;
    margin-right:10px;
    padding-right:10px;
    border-right:2px solid $primary;
}
.top-bar > div > ul > li:last-child{
    margin-right:0px;
    padding-right:0px;
    border-right:0px;
}
.search-form{
    border-bottom: 1px solid $secondary;
}
.search-form .search-field, .search-form .search-submit{
    border:0;
}
input:-internal-autofill-selected {
    background-color:white;
}
.main-navigation ul{
    list-style:none;
}

.main-navigation li {
    display: inline-block;
    margin-right: 10px;
}
.main-navigation li:not(.no-before)::before{
    display:none;
}
.opacity-bg-25 {
    background-color: rgba($primary, 0.25);
}
.mega-menu{
    position: relative;
}
.mega-menu-startseite-a:hover{
    background-color: rgba($primary, 0.5);
    color:white!important;
}
.mega-menu-nicht-startseite-a:hover{
    color:$secondary!important;
}
.mega-menu-dropdown h6{
    font-size:16px;
    font-weight: 400;
}
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.dropdown-hover .dropdown-menu {
    position: absolute;
    left:0;
    top: 100%;
    z-index: 1000;
  }
  
  .dropdown-hover:hover .dropdown-menu {
    display: block;
  }
.mega-menu-bar{
    position: relative; 
    z-index: 999; 
}
.mega-menu-bar-startseite{
    margin-bottom: -56px;
}
.mega-menu-bar li{
    display:block;
}
.header-mobile{
    display:none;
}
.offcanvas-body a{
    color:white;
}
.btn-offcanvas{
    background: transparent!important;
}
.btn-offcanvas:hover{
    background-position: 0% 200%!important;
}
.navigation-row .main-navigation ul li{
    position: relative;
}
/* Hide submenus by default */
.navigation-row .main-navigation ul ul, .main-navigation ul ul ul {
    display: none;
    position: absolute;
    z-index: 999;
    background-color:white;
    padding:20px;
    width: 100%; 
    min-width: 220px; 
}



/* Show submenus on hover */
.navigation-row .main-navigation li:hover > ul {
    display: block;
}
/* Add chevron-down icon to menu items with sub-menus */
.navigation-row .main-navigation li.menu-item-has-children > a::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"%3e%3cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5px;
    vertical-align: middle;
}

/* Show submenus of the sub-menu on hover */
.navigation-row .main-navigation ul ul li:hover > ul {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

/* Adjust the position of the sub-menu of the sub-menu */
.navigation-row .main-navigation ul ul ul {
    left: 100%;
    top: 0;
    margin-left: 0;
    margin-top: -20px; /* adjust this value as needed */
}
.navigation-row .main-navigation ul ul li, .main-navigation ul ul ul li{
    margin-bottom:10px;
}
.offcanvas-body .main-navigation ul li{
    display:block;
}

@include media-breakpoint-up(lg){
    .navigation-row .main-navigation li.menu-item-has-children > ul li a::after {
        background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"%3e%3cpath fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/%3e%3c/svg%3e');
    }
}
@include media-breakpoint-down(lg) {
    .navigation-row .main-navigation li.menu-item-has-children > a::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23fff"%3e%3cpath fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" clip-rule="evenodd"/%3e%3c/svg%3e');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: 5px;
        vertical-align: middle;
    }
    .header-desktop, .mega-menu-bar{
        display:none;
    }
    .header-mobile{
        display:block;
    }
    .navigation-row .main-navigation ul ul{
        width: auto;
        position: relative;
        background-color:transparent;
        padding:10px;
    }
    /* Adjust the position of the sub-menu of the sub-menu */
    .navigation-row .main-navigation ul ul ul {
        width: auto;
        position: relative!important;
        background-color:transparent;
        padding:10px;
        margin-top:0px;
        left:0!important;
    }
    
    .navigation-row .main-navigation ul ul ul li:last-child{
        margin-bottom:0px;
    }
    .offcanvas-body .main-navigation ul li{
        margin-bottom:10px;
    }
}