.quote{
    width:35px;
    height: auto;
}
#carouselTestimonial h3{
    font-size: 16px;
}
#carouselTestimonialMobile{
    display:none;
}
.carousel-indicators{
    bottom:-45px;
}
.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    background-color:$secondary;
}

@include media-breakpoint-down(lg){
    #carouselTestimonialMobile{
        display:block;
    }
    #carouselTestimonial{
        display:none;
    }
}